body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    width: 300px;
    height: 400px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.card-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.card-title {
    font-size: 1.5em;
    margin: 20px 0 0 0;
    text-align: center;
}

.depoimento-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.depoimento {
    font-size: 1em;
    color: black;
    margin: 0;
    text-align: center;
}